//$funetePrinciapal: '', src: url('/fonts/AdobeMingStd-Light-Alphabetic.svg') format("svg");

//colores
$blanco: #ffffff;
$blanco2:#F5F5F5;
$negro:#000000;
$rojo: #C30A00;

//Medidad Queries
$telefono: 408px;
$tablet: 930px;
$desktop: 1200px;

//funetesi
$delgada: 300;
$regular: 400;
$bold: 700;
$black: 900;

//seapraciones
$separacion: 5rem;
